@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --custom: #C69749;  /* Added custom color */
  --back: #0D1B2A;  /* Added custom color */
   --vibe: #192e45;
   --text:white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
   --color-vibe: var(--vibe);
   --color-back: var(--back);
   --color-text: var(--text);
  --color-custom: var(--custom);  /* Added custom color variable */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}